@{
    ViewBag.Title = "Index";
}

<main class="main-container-ve-login">
    <section class="father-container-ve-login">
        <!-- logo container -->
        <div class="first-child-container-img-ve-login">
            <img class="img-ve-login" src="~/Content/Imagenes/Login/logo_login.png" alt="" />
        </div>

        <!-- login -->
        <div class="second-child-container-img-ve-login">
            <form class="form-container-ve-login" id="loginForm">
                <h1 class="title-form-container-ve-login">Login</h1>
                <input class="input-form-container-ve-login" id="codeInput" type="text" name="codeInput" placeholder="Code" required />
                <input class="input-form-container-ve-login" id="passwordInput" type="password" name="passwordInput" placeholder="Password" required />
                <input class="input-send-ve-login" id="sendForm" type="submit" value="Sign in" />
            </form>
        </div>
    </section>
</main>